

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <div class="headerc">
  <%=link_to image_tag("back.jpg",:width => 40, :border => 0, :alt => '', :title => ''), splash_path, :class => 'backa'%>

<h2 class="header">REGISTER</h2>
<%= f.submit "Next", class:"register" %>
</div>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
  <%= f.text_field :name, placeholder:"Name", class:"rfield" %>
</div>

  <div class="field">
    <%= f.email_field :email, placeholder:"Email", class:"rfield", autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.password_field :password, placeholder:"Password min(6)", class:"rfield", autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.password_field :password_confirmation, placeholder:"Password confirmation", class:"rfield", autocomplete: "new-password" %>
  </div>

<% end %>

