<%= form_with(model: group) do |form| %>
  <div class="headerc">
<%=link_to image_tag("back.jpg",:width => 35, :border => 0, :alt => '', :title => ''), root_path, :class => 'backa'%>

<h2 class="header">NEW CATEGORY</h2>
<%= form.submit "Create", class:"register" %>
</div>
  <% if group.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(group.errors.count, "error") %> prohibited this group from being saved:</h2>

      <ul>
        <% group.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.text_field :name, placeholder:"Category name", class:"rfield" %>
  </div>

  <div>
    <%= form.label "Choose the icon", style: "display: block", class:'center' %>
    <%= form.select :icon, @icon.map { |t| [t[:name], t[:slug]] }, {}, class: "rfield" %>
  </div>

  <div>
    <%= form.hidden_field :user_id, value: current_user.id%>
  </div>
<% end %>
