<div id="<%= dom_id group %>">
  <p>
    <strong>Name:</strong>
    <%= group.name %>
  </p>


    <%= image_tag("#{group.icon}.png", width: 50) %>

  <% @final = 0 %>
  <% @total = Category.where(group_id: group.id) %>
  <% @total.each do |category| %>
    <% @final += category.entity.amount %>
  <% end %>

  <p>
    <strong>Total Amount:</strong>
    $<%= @final %>
  </p>
  <%if current_page?(groups_path) or current_page?(root_path)%>
  <p>
    <strong>updated:</strong>
    <% updated= group.created_at.to_s %>
    <%= updated[0,10] %>
  </p>
  <%end%>

</div>
