
<p style="color: green"><%= notice %></p>

<div class="headerc">
<%=link_to image_tag("back.jpg",:width => 35, :border => 0, :alt => '', :title => ''), splash_path, :class => 'backa'%>

<h2 class="header">LOGIN</h2>
<%=link_to image_tag("search.png",:width => 35, :border => 0, :alt => '', :title => ''), root_path, :class => 'backa search'%>
</div>

<div id="groups">
  <% @groups.each do |group| %>
    <%= link_to group do %>
    <%= render group %>
    <p>
      
    </p>
  <%end%>
  <% end %>
</div>
<%= link_to "New entity", new_entity_path %>
<%= link_to "Add new category", new_group_path %>

