
<p style="color: green"><%= notice %></p>

<h1>Groups</h1>

<div id="groups">
  <% @groups.each do |group| %>
    <%= link_to group do %>
    <%= render group %>
    <p>
      
    </p>
  <%end%>
  <% end %>
</div>
<%= link_to "New entity", new_entity_path %>
<%= link_to "Add new category", new_group_path %>

