<%= form_with(model: categorization) do |form| %>
  <% if categorization.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(categorization.errors.count, "error") %> prohibited this categorization from being saved:</h2>

      <ul>
        <% categorization.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :entity_id, style: "display: block" %>
    <%= form.text_field :entity_id %>
  </div>

  <div>
    <%= form.label :group_id, style: "display: block" %>
    <%= form.text_field :group_id %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
